<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>AuthorizationURL</key>
        <string>https://apis-cidaas.test.carbookplus.com/oauth2-login/oauth2/authz</string>
        <key>TokenURL</key>
        <string>https://apis-cidaas.test.carbookplus.com/oauth2-login/oauth2/token</string>
        <key>UserInfoURL</key>
        <string>https://apis-cidaas.test.carbookplus.com/oauth2-usermanagement/oauth2/userinfo</string>
        <key>LogoutURL</key>
        <string>https://apis-cidaas.test.carbookplus.com/oauth2-usermanagement/oauth2/logoutuser</string>
        <key>ClientID</key>
        <string>d15eaf25d4e54195951b21365f47206d</string>
        <key>RedirectURI</key>
        <string>https://apis-cidaas.test.carbookplus.com/user-ui/html/calback.html</string>
        <key>SocialURL</key>
        <string>https://apis-cidaas.test.carbookplus.com/oauth2-social-service/token</string>
        <key>ViewType</key>
        <string>login</string>
    </dict>
</plist>
